<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card ">
              <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">add</i>
                </div>
                <h4 class="card-title">เพิ่มชื่อตู้ Kiosk</h4>
              </div>
              <div class="card-body ">
                  <div class="row">
                      <label class="col-md-2 col-form-label">
                          Kiosk_id :
                      </label>
                      <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <input matInput type="text" placeholder="รหัสตู้ Kiosk">
                            </mat-form-field>  
                      </div>
                      <label class="col-md-1 col-form-label">
                          Location :
                      </label>
                      <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <input matInput type="text" placeholder="สถานที่ตั้ง">
                            </mat-form-field>  
                      </div>
                      <div class="col-md-3">
                         <button mat-raised-button type="submit" class="btn btn-info">ค้นหา</button>
                      <button mat-raised-button type="submit" class="btn btn-success">เพิ่มชื่อตู้ Kiosk</button>
                      </div>
                  </div>
            </div>
          </div>
    </div>
    </div>
    </div>