.mat-button.btn, .mat-raised-button.btn, .mat-raised-button.btn:not([class*=mat-elevation-z]), .btn {
    padding: 5px 10px;
    margin: 0.3125rem 3px;
    font-size: 1rem;
}

.col-form-label {
    color: #333;;
}


@media screen and (max-width: 770px) {
    label.col-md-2.col-form-label,label.col-md-1.col-form-label {
        text-align: left;
        margin-left: 12px;
    }
}