<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons"></i>
            </div>
            <h4 class="card-title">ข้อมูลผู้ติดต่อ</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="mg col-sm-6 col-lg-3 inline">
                <div><label class="Status">เบอร์โทร</label></div>
                <mat-form-field>
                  <input matInput placeholder="เบอร์โทร">
                </mat-form-field>
              </div>
              <div class="mg col-sm-6 col-lg-3 inline">
                <div><label class="Status">ชื่อผู้ติดต่อ</label></div>
                <mat-form-field>
                  <input matInput placeholder="ชื่อผู้ติดต่อ">
                </mat-form-field>
              </div>
              <div class="mg col-sm-6 col-lg-3 inline">
                <div><label class="Status">ประเภทเรื่อง</label></div>
                <div class="">
                  <mat-radio-group>
                    <mat-radio-button class="ma-radio inline" value="1" checked="checked" (click)="changValue(true)">
                      รับเรื่องสมบูรณ์</mat-radio-button>
                    <mat-radio-button class="inline" value="2" (click)="changValue(false)"> รับเรื่องไม่สมบูรณ์</mat-radio-button>
                  </mat-radio-group>

                  <mat-form-field *ngIf="isValid" class="select-field">
                    <mat-select placeholder="รับเรื่องสมบรูณ์">
                      <mat-option *ngFor="let food of foods" [value]="food.value">
                        {{food.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field *ngIf="!isValid" class="select-field">
                    <mat-select *ngIf="!isValid" placeholder="รับเรื่องไม่สมบรูณ์">
                      <mat-option *ngFor="let food of foods2" [value]="food.value">
                        {{food.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="mg col-sm-6 col-lg-3 inline">
                <div><label class="Status">ข้อความที่บันทึก</label></div>
                <mat-form-field>
                  <input matInput placeholder="ข้อความที่บันทึก">
                </mat-form-field>
              </div>
              <div class="mg col-sm-6 col-lg-3 inline">
                <div><label class="Status">ผู้ดำเนินการ</label></div>
                <mat-form-field>
                  <input matInput placeholder="ผู้ดำเนินการ">
                </mat-form-field>
              </div>
              <div class="mg col-sm-6 col-lg-3 inline">
                <div><label class="Status">ช่องทางการติดต่อ</label></div>
                <div class="">
                  <mat-radio-group>
                    <mat-radio-button class="ma-radio inline" value="1" checked="checked">Video Phone
                    </mat-radio-button>
                    <mat-radio-button class="inline" value="2"> Kiosk</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="mg col-sm-6 col-lg-3 inline">
                <div><label class="Status">วันที่รับเรื่อง</label></div>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="วันที่เริ่มต้น" (click)="picker.open()">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="mg col-sm-6 col-lg-3 inline">
                <div><label class="Status">ถึงวันที่</label></div>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker2" placeholder="วันที่สิ้นสุด" (click)="picker2.open()">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="mg col-sm-6 col-lg-3 inline">
                <button class="btn btn-success" id="save" (click)="btnsave"> ค้นหา</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header card-header-success card-header-icon">
            <h4 class="card-title">บันทึกข้อมูลรับเรื่อง</h4>
          </div>
          <div class="card-body">
            <div class="material-datatables">
              <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style=" width:100%;">
                <thead>
                  <tr>
                    <th>{{ dataTable.headerRow[0] }}</th>
                    <th>{{ dataTable.headerRow[1] }}</th>
                    <th>{{ dataTable.headerRow[2] }}</th>
                    <th style="width:300px">{{ dataTable.headerRow[3] }}</th>
                    <th>{{ dataTable.headerRow[4] }}</th>
                    <th>{{ dataTable.headerRow[5] }}</th>
                    <th>{{ dataTable.headerRow[6] }}</th>
                    <th style="width:320px" class="disabled-sorting text-center">{{ dataTable.headerRow[7] }}</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let row of dataTable.dataRows">
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                    <td>{{row[5]}}</td>
                    <td>{{row[6]}}</td>
                    <td style="width:320px" class="td-actions text-center">
                      <button mat-raised-button type="button" class="btn btn-info {{row[7]}}">
                        <i class="material-icons">remove_red_eye</i> ดูข้อมูล
                      </button>
                      <button mat-raised-button type="button" class="btn btn-warning {{row[7]}}">
                        <i class="material-icons">edit</i> แก้ไข้
                      </button>
                      <button mat-raised-button type="button" class="btn btn-danger {{row[7]}}">
                        <i class="material-icons">delete_forever</i> ลบ
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>