  
  .my-drop-zone { border: dotted 3px lightgray; }

  .invalid-drag { border: dotted 3px red; }
  .valid-drag { border: dotted 3px green; }
  html, body { height: 100%; }
  .previewIcon{
    width:100px;height:100px;
    background-size:cover;
    background-repeat:no-repeat;
  }
 
  .inline-block{
    display:inline-block;
    margin:.2em;
  }

  .video-rec {
    width: 70%;
    background-color: gray;
  }
  .rec-actions button {
    text-transform: capitalize;
  }
  .hide-video-player {
    visibility: hidden;
    height: 0;
    width: 0;
  }
  button {
    cursor: pointer;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 3px;
  }
  button:hover {
    background-color: black;
  
  }
  