
<div class="card">
  <div class="card-header card-header-icon card-header-rose">
    <div class="card-icon">
      <i class="material-icons">reply</i>
    </div>
    <h4 class="card-title">ข้อความตอบกลับ</h4>
  </div>
  <div class="card-body">
    <form [formGroup]="replyForm" novalidate="novalidate">
      <div class="row">
        <label class="col-md-2 col-form-label">ข้อความ : </label>
        <div class="col-md-8">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <textarea matInput type="text" formControlName="messageReply" required="false"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
      <!-- <button mat-raised-button type="submit" class="btn btn-rose pull-right">ยกเลิก</button>
      <button mat-raised-button type="submit" class="btn btn-rose pull-right">ตอบกลับข้อความ</button> -->
    </form>
      <ngfFormData
        [files]      = "files"
        postName     = "media"
        [(FormData)] = "sendableFormData"
      ></ngfFormData>
       
      <ngfUploadStatus
        [(percent)] = "progress"
        [httpEvent] = "httpEvent"
      ></ngfUploadStatus>
      <h3>เลือกไฟล์ รูปภาพ/วิดีโอ</h3>
      <div class="my-drop-zone">
        <div
          ngfDrop
          multiple         = "1"
          selectable       = "1"
          [(validDrag)]    = "validComboDrag"
          [(files)]        = "files"
          accept           = "image/*, video/*"
          [maxSize]        = "maxSize"
          [(lastInvalids)] = "lastInvalids"
          [(dragFiles)]    = "dragFiles"
          class            = "well my-drop-zone"
          [class.invalid-drag] = "validComboDrag===false"
          [class.valid-drag]   = "validComboDrag"
          (filesChange) = "lastFileAt=getDate()"
        >
          ขนาดไฟล์ไม่เกิน 100 MB
      </div>
    </div>
    
    <div *ngIf="dragFiles">
      <h3 style="margin:0">Drag Files</h3>
      <p *ngIf="!dragFiles.length" style="color:red;">
        This browser does NOT release metadata for files being dragged. All files will be considered valid drags until dropped.
      </p>
      <pre>{{ dragFiles | json }}</pre>
    </div>
    
    <div *ngIf="lastInvalids?.length">
      <div style="color:red;">ไฟล์ที่ขนาดใหญ่เกินไป กรุณาเลือกไฟล์ใหม่</div>
      <!-- <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Error</th>
            <th>Type</th>
            <th>Size</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of lastInvalids;let i=index">
            <td>
              <div *ngIf="['image/gif','image/png','image/jpeg'].indexOf(item.file.type)>=0">
                <div class="previewIcon" [ngfBackground]="item.File"></div>
              </div>
              <strong>{{ item.file.name }}</strong>
            </td>
            <td nowrap>
              {{ item.type }}
            </td>
            <td nowrap>
              {{ item.file.type }}
            </td>
            <td nowrap>
              {{ item.file.size/1024/1024 | number:'.2' }} MB
            </td>
            <td nowrap>
              <button type="button"
                class="btn btn-danger btn-xs"
                (click)="lastInvalids.splice(i,1)"
              >
              <i class="material-icons">delete</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table> -->
    </div>

    <div style="margin-bottom: 40px">
      <div>มีไฟล์มั้งหมด {{ files.length }} ไฟล์</div>
      <table class="table">
        <tbody>
          <tr *ngFor="let item of files;let i=index">
            <td class="row">
              <div>
                <div class="previewIcon" [ngfBackground]="item"></div>
              </div>
            </td>
            <td nowrap>
              {{ item.type }}
            </td>
            <td nowrap>
              {{ item.size/1024/1024 | number:'.2' }} MB
            </td>
            <td nowrap>
              <button type="button"
                class="btn btn-danger btn-xs"
                (click)="files.splice(i,1)"
              >
              <i class="material-icons">delete</i>
               
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <h2>บันทึกวีดิโอ</h2>
      
      <video [ngClass]="{'hide-video-player': !showVideoPlayer}" class="video-rec" #recVideo autoplay muted controls></video>
      <div class="rec-actions">
        <div *ngIf="hideStopBtn">
          <button (click)="start()"> เริ่มบันทึกวีดิโอ </button>
          <button *ngIf="showVideoPlayer && recordedBlobs" (click)="play()"> เล่น </button>
          <button *ngIf="recordedBlobs" (click)="download()"> ดาวน์โหลด </button>
        </div>
        <button *ngIf="!hideStopBtn" (click)="stop()"> หยุดบันทึก </button>
      </div>

      <div>
        <i *ngIf="progress==100" class="glyphicon glyphicon-ok"></i>
     
        <button type="button"
          class="btn btn-success btn-s"
          (click)="replyMessage()"
        >
          <span class="glyphicon glyphicon-upload"></span> ตอบกลับข้อความ
        </button>
     
        <button type="button"
          class="btn btn-warning btn-s"
          (click)="cancelBooking()"
        >
          <span class="glyphicon glyphicon-ban-circle"></span> ยกเลิก
        </button>
        <button type="button"
          class="btn btn-danger btn-s"
          (click)="files.length=0"
          [disabled]="!files.length"
        >
          <span class="glyphicon glyphicon-trash"></span> ลบทั้งหมด
        </button>
      </div>
  </div>

  
</div>
</div>