.inline {
    padding: 5px 0;
    display: inherit;
    align-items: center;
}

.row-status {
    margin: 10px 0;
}

.Status {
    text-align: right;
    width: 100px;
    margin-right: 10px;
    color: black;
    font-size: 16px;
}

mat-radio-button {
    width: 140px;
    padding: 0 10px 0 20px;
}

.select-field {
    padding: 0 0 0 20px;
}

.mat-form-field {
    padding: 0 0 0 20px;
}


#save {
    margin: 0 15px 0 0;
}

.ml-col {
    margin: 0 65px;
}

.data-m {
    margin: 10px;
}

label {
    display: inline-block;
    margin-bottom: 0;
}

.r-col {
    margin-right: 0px;
}

.mg {
    margin-left: 15px;
    margin-right: 15px;
}
.mgbnt{
    margin-left: 40px;
}
.ma-radio{
    margin-right: 10px;
}