.mat-button.btn, .mat-raised-button.btn, .mat-raised-button.btn:not([class*=mat-elevation-z]), .btn {
    padding: 5px 10px;
    margin: 0.3125rem 3px;
    font-size: 1rem;
}

label.col-md-2.col-form-label {
    color: #333;;
}

table#datatables {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media screen and (max-width: 770px) {
    label.col-md-2.col-form-label {
        text-align: left;
        margin-left: 12px;
    }
}