<div class="main-content">
  <div class="container-fluid">
      <div class="col-md-12">
          <div class="card ">
            <div class="card-header card-header-rose card-header-icon">
              <div class="card-icon">
                <i class="material-icons">search</i>
              </div>
              <h4 class="card-title">ค้นหา</h4>
            </div>
            <div class="card-body ">
                <div class="row">
                    <label class="col-md-2 col-form-label">
                        ID Kiosk /ชื่อ Kiosk :
                    </label>
                    <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <input matInput type="text" placeholder="ค้นหา">
                          </mat-form-field>  
                    </div>
                    <div class="col-md-4">
                       <button mat-raised-button type="submit" class="btn btn-info">ค้นหา</button>
                    <button mat-raised-button type="submit" class="btn btn-success">เพิ่มชื่อตู้ Kiosk</button>
                    </div>
                </div>
          </div>
        </div>
  </div>

  <div class="col-md-12">
      <div class="card " style="margin-top: 15px; ">
        <div class="card-header card-header-rose card-header-icon">
          <h4 class="card-title">แก้ไขชื่อตู้ Kiosk</h4>
        </div>
        <div class="card-body ">
        <div class="material-datatables">
          <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%">
                <thead>
                    <tr>
                      <th>{{ dataTable.headerRow[0] }}</th>
                      <th style="text-align: left;">{{ dataTable.headerRow[1] }}</th>
                      <th style="text-align: left;">{{ dataTable.headerRow[2] }}</th>
                      <th>{{ dataTable.headerRow[3] }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of dataTable.dataRows">
                        <td>{{row[0]}}</td>
                        <td style="text-align: left;">{{row[1]}}</td>
                        <td style="text-align: left;">{{row[2]}}</td>
                        <td> <button mat-raised-button type="submit" class="btn btn-warning">
                            <i class="material-icons">edit</i> แก้ไข </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
      </div>
    </div>
</div>
</div>


