<div class="main-content">
  <div class="container-fluid">
      <div class="col-md-12">
          <div class="card" style="margin-bottom: 0px;">
            <div class="card-header card-header-rose card-header-icon">
              <div class="card-icon">
                <i class="material-icons">search</i>
              </div>
              <h4 class="card-title">ข้อมูลการค้นหา</h4>
            </div>
            <div class="card-body ">
              <div class="row">
                <label class="col-md-2 col-form-label">
                  วันที่รับเรื่อง
                </label>
                <div class="col-md-3 ">
                    <mat-form-field >
                      <input matInput [matDatepicker]="picker" placeholder="Choose a date" (click)="picker.open()">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <label class="col-md-1 col-form-label" >
                    ถึง
                </label>
                <div class="col-md-3 " style="display: -webkit-box;">
                    <mat-form-field>
                      <input matInput [matDatepicker]="picker2" placeholder="Choose a date" (click)="picker2.open()">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2  [startAt]="startDate"></mat-datepicker>
                    </mat-form-field>
                    <button mat-raised-button class="btn btn-success">
                      <span class="btn-label" ><i class="material-icons">search</i></span>
                      ค้นหา
                    </button>
                </div>
            </div>
            </div>
          </div>
        </div>

        <!-- ผลการค้นหา -->
        <div class="col-md-12">
          <div class="card " style="margin-top: 15px; ">
            <div class="card-header card-header-rose card-header-icon">
              <h4 class="card-title">ข้อมูลการค้นหา</h4>
            </div>
            <div class="card-body ">
            <div class="material-datatables">
              <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                          <th>{{ dataTable.headerRow[0] }}</th>
                          <th>{{ dataTable.headerRow[1] }}</th>
                          <th>{{ dataTable.headerRow[2] }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of dataTable.dataRows">
                            <td>{{row[0]}}</td>
                            <td>{{row[1]}}</td>
                            <td><a href="#"><img src="./../../../assets/img/excel.png" width="30px" height="30px"></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
          </div>
        </div>
  </div>
</div>


