label.col-md-2.col-form-label {
    color: #333;;
}

label.col-md-1.col-form-label {
    color: #333;;
}

button.btn.btn-success.mat-raised-button {
    margin-left: 20px;
}

button.btn, .mat-raised-button.btn:not([class*=mat-elevation-z]), .btn {
    padding: 8px 15px;
    font-size: .85rem;
}
  
table#datatables {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}