.inline {
    padding: 5px 0;
    display: inherit;
    align-items: center;
}

.row-status {
    margin: 10px 0;
}

.Status {
    text-align: right;
    width: 135px;
    /* padding: 0 20px 0 0; */
    color: black;
    font-size: 16px;
}
.Status-day {
    text-align: right;
    width: 120px;
    /* padding: 0 20px 0 0; */
    color: black;
    font-size: 16px;
}
mat-radio-button {
    width: 140px;
    padding: 0 10px 0 20px;
}

.select-field {
    padding: 0 0 0 20px;
}

.mat-form-field {
    padding: 0 0 0 20px;
}

.history {
    background: #F3F3F3;
    padding: 5px;
    height: 230px;
    width: calc(100% - 20px);
    overflow-x: hidden;
    overflow-y: auto;
}
.data-m{
    margin: 10px;
}
.col-md-6.ml-auto.mr-auto {
    text-align: center;
    margin: 0 0 30px 0;
}

#save {
    margin: 0 15px 0 0;
}

.mg {
    margin: 0 3%;
}

.check {
    margin: 0 15px;
    width: 200px;
}

.checkbox-wrap {
    flex-wrap: wrap;
    line-height: 3;
}

.btn {
    margin-left: 20px;
}