<div class="main-content">
    <div class="container-fluid">
      <div class="col-md-12">
          <mat-accordion>
              <mat-expansion-panel [expanded]="step === 0">
                <mat-expansion-panel-header>
               
                </mat-expansion-panel-header>
            
                <form method="#" action="#">
                  <div class="row">
                      <label class="col-md-2 col-form-label">
                        ผู้บันทึก
                      </label>
                      <div class="col-md-2">
                            <mat-form-field class="example-full-width">
                              <input matInput type="text" placeholder="ผู้บันทึก">
                            </mat-form-field>  
                      </div>
                      <label class="col-md-2 col-form-label">
                        ปัญหาทางเทคนิค
                      </label>
                      <div class="col-md-2">
                            <mat-form-field class="example-full-width">
                              <input matInput type="text" placeholder="ปัญหาทางเทคนิค">
                            </mat-form-field>  
                      </div>
                  </div>
                  <div class="row">
                      <label class="col-md-2 col-form-label">
                          สรุปเหตุการณ์
                        </label>
                        <div class="col-md-2">
                              <mat-form-field class="example-full-width">
                                <input matInput type="text" placeholder="สรุปเหตุการณ์">
                              </mat-form-field>  
                        </div>
                        <div class="col-md-8" style="display: contents;">
                          <label class="col-md-2 col-form-label">
                            วันที่บันทึก
                          </label>
                          <div class="col-md-2">
                            <mat-form-field >
                              <input matInput [matDatepicker]="picker" placeholder="วันที่เริ่มต้น" (click)="picker.open()">
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                          </div>
                          <label class="col-md-0.5 col-form-label" >
                            ถึง
                          </label>
                          <div class="col-md-2" style="display: -webkit-inline-box;">
                            <mat-form-field>
                              <input matInput [matDatepicker]="picker2" placeholder="วันที่สิ้นสุด" (click)="picker2.open()">
                              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                              <mat-datepicker #picker2 startView="year" [startAt]="startDate"></mat-datepicker>
                            </mat-form-field>
                            <button mat-raised-button  class="btn btn-success" style="margin-left: 15px;"> ค้นหา </button>
                          </div>
                        </div>
                      
                  </div>
              </form>
            </mat-expansion-panel>
          </mat-accordion>

          <br>

          <mat-accordion>
            <mat-expansion-panel [expanded]="step === 0">
              <mat-expansion-panel-header>
                  <mat-panel-title >
                      <h4>ผลการค้นหา</h4>
                    </mat-panel-title>
              </mat-expansion-panel-header>
          
              <div class="table-responsive"> 
                <table id="datatables" class="table table-striped " cellspacing="0" width="100%">
                      <thead>
                          <tr>
                            <th >{{ dataTable.headerRow[0] }}</th>
                            <th >{{ dataTable.headerRow[1] }}</th>
                            <th>{{ dataTable.headerRow[2] }}</th>
                            <th >{{ dataTable.headerRow[3] }}</th>
                            <th >{{ dataTable.headerRow[4] }}</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let row of dataTable.dataRows">
                              <td style=" width: 13%">{{row[0]}}</td>
                              <td style=" width: 17%; text-align: left;">{{row[1]}}</td>
                              <td style="text-align: left;">{{row[2]}}</td>
                              <td style=" width: 10%"> <button mat-raised-button  class="btn btn-success" > ดูรายละเอียด </button></td>
                              <td style=" width: 7%"><a href="#"><img src="./../../../assets/img/excel.png" width="30px" height="30px"></a></td>
                          </tr>
                      </tbody>
                  </table>
              </div>
             <!-- ------------------- -->
              <!-- <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event">
              </mat-paginator> -->

             <!-- ------------------- -->
            </mat-expansion-panel>
           </mat-accordion>

      </div>
      
    </div>
</div>


