
.col-form-label {
    line-height: 2.7;
    color: #333;;
}

mat-expansion-panel {
    border-radius: 5px;
}

table.table.table-striped {
    text-align: center;
}

.mat-button.btn, .mat-raised-button.btn, .mat-raised-button.btn:not([class*=mat-elevation-z]), .btn {
    padding: 5px 8px;
    font-size: .85rem;
}    

@media screen and (min-width: 800px) {
    label.col-md-2.col-form-label {
        text-align: right;
    }
}