.col-form-label {
    color: #333;;
}
.card-footer{
    justify-content: center !important;
}
  
button.btn.btn-danger.mat-raised-button {
    margin: 0px 15px;
}

.mat-raised-button.btn, .mat-raised-button.btn:not([class*=mat-elevation-z]), .btn {
    padding: 8px 15px;
    font-size: 1rem;
}