<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header card-header-rose card-header-icon">
          <div class="card-icon">
            <i class="material-icons">language</i>
          </div>
          <h4 class="card-title">ข้อมูลพื้นฐาน</h4>
        </div>
        <div class="card-body ">

          <form method="#" action="#">
            <div class="row">
              <label class="col-md-3 col-form-label"> APP API : </label>
              <div class="col-md-7">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" value="{{api}}">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <label class="col-md-3 col-form-label"> APP Key : </label>
              <div class="col-md-7">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" value="{{key}}">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <label class="col-md-3 col-form-label">VRS API : </label>
              <div class="col-md-7">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" value="{{vrs}}">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <label class="col-md-3 col-form-label"> ขนาดฟอนต์จำนวนคิว : </label>
              <div class="col-md-7">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" value="{{queues_number}}">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <label class="col-md-3 col-form-label"> หมายเลขคิว Making Call :</label>
              <div class="col-md-7">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" value="{{making_call}}">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <label class="col-md-3 col-form-label"> หมายเลขคิว Receiving Call : </label>
              <div class="col-md-7">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" value="{{receiving}}">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <label class="col-md-3 col-form-label">หมายเลขฉุกเฉิน: </label>
              <div class="col-md-7">
                <mat-form-field class="example-full-width">
                  <textarea matInput placeholder="หมายเลขฉุกเฉิน" value="{{emergency}}"></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <label class="col-md-3 col-form-label"> หมายเลขฉุกเฉิน:</label>
              <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                <div class="fileinput-new thumbnail">
                  <img src="../../assets/img/image_placeholder.jpg" alt="...">
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail"></div>
                <div>
                  <span class="btn btn-rose btn-round btn-file">
                    <span class="fileinput-new">เลือกไฟล์</span>
                    <span class="fileinput-exists">แก้ไข</span>
                    <input type="file" name="..." />
                  </span>
                  <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i>
                    ลบ</a>
                </div>
              </div>
            </div>

            <hr>
            <div class="card-header card-header-rose card-header-icon">
              <h4 class="card-title">ข้อมูล Video Conference</h4>
            </div>
            <div class="row">
              <label class="col-md-3 col-form-label">บันทึกวิดีโออัตโนมัติ : </label>
              <div class="col-md-7">
                <mat-slide-toggle> Slide me!</mat-slide-toggle>
              </div>
            </div>
            <div class="row">
              <label class="col-md-3 col-form-label">Codec Video : </label>
              <div class="col-md-7">
                <mat-form-field>
                  <mat-select [(value)]="code_video">
                    <mat-option>None</mat-option>
                    <mat-option value="video1">libx264</mat-option>
                    <mat-option value="video2">libvpx</mat-option>
                    <mat-option value="video3">mpeg4</mat-option>
                    <mat-option value="video4">msmpeg4</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <label class="col-md-3 col-form-label">Resolution Video : </label>
              <div class="col-md-7">
                <mat-form-field>
                  <mat-select [(value)]="Resolution">
                    <mat-option value="Resolution1">176x144</mat-option>
                    <mat-option value="Resolution2">320x240</mat-option>
                    <mat-option value="Resolution3">352x288</mat-option>
                    <mat-option value="Resolution4">640x360</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <label class="col-md-3 col-form-label">Video Frame Rate : </label>
              <div class="col-md-7">
                <mat-form-field>
                  <mat-select [(value)]="frame">
                    <mat-option>None</mat-option>
                    <mat-option value="frame1">10</mat-option>
                    <mat-option value="frame2">20</mat-option>
                    <mat-option value="frame3">30</mat-option>
                    <mat-option value="frame4">40</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <label class="col-md-3 col-form-label">Video Bit Rate : </label>
              <div class="col-md-7">
                <mat-form-field>
                  <mat-select [(value)]="bit">
                    <mat-option value="bit1">auto</mat-option>
                    <mat-option value="bit2">8000</mat-option>
                    <mat-option value="bit3">16000</mat-option>
                    <mat-option value="bit4">32000</mat-option>
                    <mat-option value="bit5">48000</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <label class="col-md-3 col-form-label">Codec Audio : </label>
              <div class="col-md-7">
                <mat-form-field>
                  <mat-select [(value)]="code_audio">
                    <mat-option>None</mat-option>
                    <mat-option value="code_audio1">ac3</mat-option>
                    <mat-option value="code_audio2">pcm_s16le</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <label class="col-md-3 col-form-label">Audio Sample Rate : </label>
              <div class="col-md-7">
                <mat-form-field>
                  <mat-select [(value)]="sample">
                    <mat-option value="sample1">8000</mat-option>
                    <mat-option value="sample2">16000</mat-option>
                    <mat-option value="sample3">32000</mat-option>
                    <mat-option value="sample4">48000</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer ">
            <button mat-raised-button type="submit" class="btn btn-success">บันทึก</button>
            <button mat-raised-button type="submit" class="btn btn-danger">ยกเลิก</button>
        </div>
      </div>
    </div>
  </div>
</div>