<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header card-header-rose card-header-icon">
          <div class="card-icon">
            <i class="material-icons">language</i>
          </div>
          <h4 class="card-title">ข้อมูลส่วนตัว</h4>
        </div>
        <div class="card-body ">
          <form method="#" action="#">
            <div class="row">
              <label class="col-md-3 col-form-label">ชื่อ - สกุล : </label>
              <div class="col-md-7">
               <span>{{name}}</span>
              </div>
            </div>
            <div class="row">
                <label class="col-md-3 col-form-label">อีเมล : </label>
                <div class="col-md-7">
                  <span>{{email}}</span>
                </div>
              </div>
            <div class="row">
              <label class="col-md-3 col-form-label">สิทธิ์ดำเนินการ : </label>
              <div class="col-md-7">
                <span>{{operation}}</span>
              </div>
            </div>
            <div class="row">
              <label class="col-md-3 col-form-label">หมายเลข Extension In: </label>
              <div class="col-md-7">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" value="{{extension_in}}">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <label class="col-md-3 col-form-label">หมายเลข Extension Out : </label>
              <div class="col-md-7">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" value="{{extension_out}}">
                </mat-form-field>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer ">
          <button mat-raised-button type="submit" class="btn btn-success">บันทึก</button>
          <button mat-raised-button type="submit" class="btn btn-danger">ยกเลิก</button>
        </div>
      </div>
    </div>
  </div>