<div class="main-content">
    <div class="container-fluid">

      <!-- ค้นหาข้อมูลการแพทย์ฉุกเฉิน -->
        <div class="col-md-12">
            <div class="card ">
              <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">search</i>
                </div>
                <h4 class="card-title">ค้นหาข้อมูลการแพทย์ฉุกเฉิน</h4>
              </div>
              <div class="card-body ">
                  <form method="#" action="#">
                      <div class="row">
                          <label class="col-md-2 col-form-label">
                              หมายเลขปัญหา
                          </label>
                          <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                  <input matInput type="text" placeholder="หมายเลขปัญหา">
                                </mat-form-field>  
                          </div>
                          <label class="col-md-2 col-form-label">
                              เลขประจำตัวประชาชน
                          </label>
                          <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                  <input matInput type="text" placeholder="เลขประจำตัวประชาชน">
                                </mat-form-field>  
                          </div>
                      </div>
                      <div class="row">
                          <label class="col-md-2 col-form-label">
                              เวลาเริ่มต้นการสนทนา
                          </label>
                          <div class="col-md-3">
                              <mat-form-field >
                                <input matInput [matDatepicker]="picker" placeholder="Choose a date" (click)="picker.open()">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                          </div>
                          <label class="col-md-2 col-form-label" >
                              เวลาสิ้นสุดการสนทนา
                          </label>
                          <div class="col-md-3"  style="display: -webkit-box;">
                              <mat-form-field>
                                <input matInput [matDatepicker]="picker2" placeholder="Choose a date" (click)="picker2.open()">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2 startView="year" [startAt]="startDate"></mat-datepicker>
                              </mat-form-field>
                              <button mat-raised-button  class="btn btn-success" style="margin-left: 15px;"> ค้นหา </button>
                          </div>
                      </div>
                  </form>
            </div>
          </div>
        </div> 
        <!-- จบค้นหาข้อมูลการแพทย์ฉุกเฉิน -->

        <!-- start --> 
        <div class="col-md-12">
            <div class="card ">
              <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">description</i>
                </div>
                <h4 class="card-title">....</h4>
              </div>
              <div class="card-body ">
                
            </div>
          </div>
        </div> 
        <!-- end -->
</div>
</div>


