<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div *ngIf="!editForm" class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">รับส่งข้อความ (SMS/APP)</h4>
          </div>
          <div class="card-body">
            <div class="card-content">
              <mat-table #table [dataSource]="dataSource" matSort class="animate">
                <ng-container matColumnDef="Service">
                  <mat-header-cell *matHeaderCellDef>บริการ </mat-header-cell>
                  <mat-cell *matCellDef="let job">
                    <ng-container *ngIf="job.source == 1">
                      <mat-icon aria-label="Service">textsms</mat-icon>SMS
                    </ng-container>
                    <ng-container *ngIf="job.source == 6 || job.source == 7">
                      <mat-icon aria-label="Service">apps</mat-icon>App
                    </ng-container>
                    <ng-container *ngIf="job.source == 8">
                      <mat-icon color="warn" aria-label="Service">local_hospital</mat-icon>App
                    </ng-container>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Time">
                  <mat-header-cell *matHeaderCellDef>วันที่เวลาผู้ส่ง</mat-header-cell>
                  <mat-cell *matCellDef="let job"> {{ job.inputtime }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Phonenumber">
                  <mat-header-cell *matHeaderCellDef>หมายเลขโทรศัพท์</mat-header-cell>
                  <mat-cell *matCellDef="let job">{{ job.phonenumber }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="UserId">
                  <mat-header-cell *matHeaderCellDef>รหัสบัตรประชาชน</mat-header-cell>
                  <mat-cell *matCellDef="let job"> {{ job['identification_patient'] }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Magane">
                  <mat-header-cell *matHeaderCellDef>การจัดการ</mat-header-cell>
                  <mat-cell *matCellDef="let job">
                    <ng-container *ngIf="job['user_manage'] === '' || job['user_manage'] === displayName">
                      <button mat-icon-button color="warn" (click)="bookingJob(job)">
                        <mat-icon aria-label="Edit">edit</mat-icon>
                      </button>
                    </ng-container>
                    {{ job['user_manage'] }}
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" class="animate"></mat-row>
              </mat-table>
              <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons>
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
      
      <div *ngIf="!editForm" class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">chat</i>
            </div>
            <h4 class="card-title">สนทนาข้อความ (Live Chat)</h4>
          </div>
          <div class="card-body">
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="editForm" class="row example-container">
      <div class="row col-md-12">
        <div class="col-md-7">
          <div class="card" *ngFor="let timeline of timelineData">
            <div class="card-header card-header-info card-header-icon" *ngIf="timeline['own'] === 'agent'">
              <div class="card-icon">
                  <i class="material-icons">call_received</i>
              </div> 
              <h4 class="card-title">ข้อความของ Agent {{ timeline['adduser'] }}</h4>
            </div>
            <div class="card-header card-header-success card-header-icon" *ngIf="timeline['own'] === 'user' || timeline['own'] === 'selectedData'">
              <div class="card-icon">
                <i class="material-icons">call_made</i>
              </div>
              <h4 class="card-title">ข้อความของ {{ timeline['phonenumber'] }}</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="inboxForm" novalidate="novalidate">
                  <div class="row">
                      <label class="col-md-1 col-form-label">หมายเลขโทรศัพท์ : </label>
                      <div class="col-md-2">
                        <div class="form-group">
                          <p class="form-control-static">{{ timeline['phonenumber'] }}</p>
                        </div>
                      </div>
                      <label class="col-md-2 col-form-label">หมายเลขบัตรประชาชน : </label>
                    <div class="col-md-3">
                      <div class="form-group">
                        <p class="form-control-static">{{ timeline['identification_patient'] }}</p>
                        <p class="form-control-static">({{ nameUserSelectedRow }})</p>
                      </div>
                    </div>
                      <label class="col-md-1 col-form-label">เวลา : </label>
                      <div class="col-md-3">
                        <div class="form-group">
                          <p class="form-control-static"> {{ timeline['inputtime'] }}</p>
                        </div>
                      </div>
                  </div>
                  <div class="row">
                    <label class="col-md-1 col-form-label">ข้อความ : </label>
                    <div class="col-md-11">
                      <div class="form-group">
                        <p class="form-control-static">{{ timeline['message_orgtext'] }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                      <ng-container *ngIf="timeline['question']  !== '' || timeline['question'] !== '0'">
                          <label class="col-md-1 col-form-label">อาการป่วย : </label>
                          <div class="col-md-7">
                            <div class="form-group">
                              <ng-container class="form-control-static" *ngFor="let question of timeline['question']">
                                {{ question }},
                              </ng-container>
                            </div>
                          </div>
                      </ng-container>
                      <label class="col-md-1 col-form-label">พิกัดจาก : </label>
                      <div class="col-md-3">
                        <div class="form-group">
                          <a href="https://maps.google.com/?q= {{ timeline['latitude'] }},{{ timeline['longtitude'] }}&hl=es;z=14&amp;output=embed" target="_blank">ดูพิกัด</a>
                        </div>
                      </div>
                  </div>
                  <div class="row">
                      <label class="col-md-1 col-form-label">ภาพ/วีดิโอ : </label>
                      <div class="col-md-5">
                          <ng-container *ngFor="let media of timeline['media_path']">
                              <ng-container *ngIf="media['media_type'] === 'image'">
                                <a href="{{ media['media_path'] }}" target="_blank">
                                  <img height="150" width="150" src="{{ media['media_path'] }}">
                                </a>
                              </ng-container>
                              <ng-container *ngIf="media['media_type'] === 'video'">
                                <a href="{{ media['media_path'] }}" target="_blank"> 
                                  <video height="150" width="150" src="{{ media['media_path'] }}"></video>
                                </a> 
                              </ng-container>
                          </ng-container>
                      </div>
                  </div>
                  <div class="row" *ngIf="timeline['own'] === 'selectedData'">
                    <label class="col-md-1 col-form-label">ถอดความ : </label>
                    <div class="col-md-11">
                      <div class="form-group">
                        <mat-form-field class="example-full-width">
                          <textarea matInput type="text" formControlName="messageTranslate" required="false"></textarea>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="timeline['message_translatetext'] !== ''">
                    <label class="col-md-1 col-form-label">ถอดความ : </label>
                    <div class="col-md-11">
                      <div class="form-group">
                        <p class="form-control-static">{{ timeline['message_translatetext'] }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="timeline['own'] === 'selectedData'">
                      <label class="col-md-1 col-form-label">สถานะการสนทนา : </label>
                      <div class="col-md-9">
                        <div class="form-group">
                          <mat-form-field>
                            <mat-select placeholder="ระบุสถานะ/ประเภทข้อความ" name="selectedMessageType" formControlName="selectedMessageType">
                              <mat-option *ngFor="let status of jobStatus" [value]="status['id_complete']" (click)="seleteStatus(status['id_complete'])">
                                {{ status['text_complete'] }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                  </div>
                  <div class="row" *ngIf="timeline['own'] === 'user'">
                      <label class="col-md-1 col-form-label">ประเภทการสนทนา : </label>
                      <ng-container *ngIf="timeline['complete'] === 1">
                          <div class="col-md-5">
                              <div class="form-group">
                                <p class="form-control-static">สนทนาสำเร็จ</p>
                              </div>
                          </div>
                      </ng-container>
                      <ng-container *ngIf="timeline['complete'] === 0">
                          <div class="col-md-5">
                              <div class="form-group">
                                <p class="form-control-static">สนทนาไม่สำเร็จ</p>
                              </div>
                          </div>
                      </ng-container>
                      <label class="col-md-1 col-form-label">ประเภทการสนทนา : </label>
                      <div class="form-group col-md-5">
                        <p class="form-control-static">{{ messageType[timeline['message_type']] }}</p>
                      </div>
                  </div>
                    <div class="row" *ngIf="timeline['own'] === 'selectedData'">
                      <ng-container *ngIf="selectedStatus == 0">
                        <label class="col-md-1 col-form-label">ประเภทการสนทนา : </label>
                        <div class="col-md-9">
                          <div class="form-group">
                              <mat-form-field>
                                <mat-select placeholder="ประเภทการสนทนา" name="completeReason" formControlName="completeReason">
                                  <mat-option *ngFor="let complete of messageTypeIncomplete" [value]="complete['type_id']">
                                    {{ complete['type_text'] }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                          </div>
                          <button mat-raised-button type="submit" class="btn btn-rose pull-right" (click)="closeJob(timeline['messageid'])">ยืนยัน</button>
                        </div>
                      </ng-container>
                      <ng-container  *ngIf="selectedStatus == 1">
                        <label class="col-md-1 col-form-label">ประเภทการสนทนา : </label>
                        <div class="col-md-9">
                          <div class="form-group">
                                <mat-form-field>
                                  <mat-select placeholder="ประเภทการสนทนา" name="completeReason" formControlName="completeReason">
                                    <mat-option *ngFor="let complete of messageTypeComplete" [value]="complete['type_id']">
                                      {{ complete['type_text'] }}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                          </div>
                          <button mat-raised-button type="submit" class="btn btn-rose pull-right" (click)="closeJob(timeline['messageid'])">ยืนยัน</button>
                        </div>
                      </ng-container>
                  </div>
               </form>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <app-reply-box [dataReply]="messageRely" (editFormFormChild)="this.editForm= $event"></app-reply-box>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- [childMessageId]="selectedRow['messageid']" [phonenumber]="selectedRow['phonenumber']"
[identification]="selectedRow['identification_patient']" [agentName]="displayName" -->