<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon box-header with-border">
            <div class="card-icon">
              <i class="material-icons"></i>
            </div>
            <h4 class="card-title">ข้อมูลผู้ติดต่อ</h4>
            <div class="box-tools pull-right">
              <button class="btn btn-warning" type="button" id="last-in">
                <i class="fa fa-exchange"></i> สายล่าสุด
              </button>
            </div>
            <div class="box-tools pull-right" style="right:200px;">
              <button mat-raised-button class="btn btn-primary btn-block" (click)="showNotification('bottom','left')">โทร</button>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="mg col-sm-6 col-lg-3 inline">
                <div><label class="Status">ชื่อคนพิการ </label></div>
                <mat-form-field>
                  <input matInput placeholder="ชื่อคนพิการ">
                </mat-form-field>
              </div>
              <div class="mg col-sm-6 col-lg-3 inline">
                <div><label class="Status">นามสกุล</label></div>
                <mat-form-field>
                  <input matInput placeholder="นามสกุล">
                </mat-form-field>
              </div>
              <div class="mg col-sm-6 col-lg-3 inline">
                <div><label class="Status">User ID</label></div>
                <mat-form-field>
                  <input matInput placeholder="ยูสเซอร์ไอดี">
                </mat-form-field>
              </div>
            </div>
            <div *ngIf="isValidvri" class="row">
              <div class="mg col-sm-6 col-lg-3 inline">
                <div><label class="Status">ชื่อผู้ติดต่อปลายทาง</label></div>
                <mat-form-field>
                  <input matInput placeholder="ชื่อผู้ติดต่อปลายทาง">
                </mat-form-field>
              </div>
              <div class="mg col-sm-6 col-lg-3 inline">
                <div><label class="Status">นามสกุล</label></div>
                <mat-form-field>
                  <input matInput placeholder="นามสกุล">
                </mat-form-field>
              </div>
              <div class="mg col-sm-6 col-lg-3 inline">
                <div><label class="Status">เบอร์ปลายทาง</label></div>
                <mat-form-field>
                  <input matInput placeholder="เบอร์ปลายทาง">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons"></i>
            </div>
            <h4 class="card-title">รายละเอียด</h4>
          </div>
          <div class="card-body">
            <div class="row row-status">
              <div class="col-md-12 inline ">
                <div><label class="Status">ช่องทางการติดต่อ</label></div>
                <div class="">
                  <mat-radio-group>
                    <mat-radio-button value="1" checked="checked" (click)="changValue(true)"> Kiosk</mat-radio-button>
                    <mat-radio-button value="2" (click)="changValue(false)"> Web</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div *ngIf="isValid" class="col-md-12 inline ">
                <mat-form-field class="select-field select-field-mar">
                  <mat-select placeholder="เลือกตู้ที่ติดต่อเข้ามา">
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                      {{food.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-12 inline ">
                <div><label class="Status">ประเภทข้อความ</label></div>
                <div class="">
                  <mat-radio-group>
                    <mat-radio-button value="1" checked="checked"> Making Call</mat-radio-button>
                    <mat-radio-button value="2"> Receiving Call</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="col-md-12 inline ">
                <div><label class="Status">การบริการ</label></div>
                <div class="">
                  <mat-radio-group>
                    <mat-radio-button (click)="changValueVRI(true)" value="1" checked="checked">VRS Normal</mat-radio-button>
                    <mat-radio-button (click)="changValueVRI(true)" value="2">VRS Emergency</mat-radio-button>
                    <mat-radio-button (click)="changValueVRI(false)" value="3">VRI</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="col-md-12 inline ">
                <div><label class="Status">สาเหตุจอดำ</label></div>
                <div class="check">
                  <mat-checkbox>จอดำ-ไม่มีกล้อง</mat-checkbox>
                  <mat-checkbox>จอดำ-ปิดกล้อง</mat-checkbox>
                  <mat-checkbox>จอดำ-เปิดโปรแกรมอื่นอยู่</mat-checkbox>
                  <mat-checkbox>จอดำ-ปัญหาอินเทอร์เน็ต</mat-checkbox>
                  <mat-checkbox>จอดำ-ไม่ทราบ</mat-checkbox>
                </div>
              </div>
              <div class="col-md-12 inline">
                <div><label class="Status"> ข้อความรับเรื่อง </label> </div>
                <mat-form-field>
                  <textarea matInput placeholder="รายละเอียดการรับเรื่อง"></textarea>
                </mat-form-field>
              </div>
              <div class="col-md-12 inline">
                <div><label class="Status"> เจ้าหน้าที่ล่ามสรุป </label> </div>
                <mat-form-field>
                  <textarea matInput placeholder="สรุปรายละเอียด"></textarea>
                </mat-form-field>
              </div>

              <div class="col-md-12 inline">
                <div><label class="Status"> ประเภทเรื่อง </label> </div>
                <mat-form-field class="select-field ">
                  <mat-select placeholder="เรื่องที่ดำเนินการสำเร็จ">
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                      {{food.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="select-field ">
                  <mat-select placeholder="เรื่องที่ดำเนินการไม่สำเร็จ">
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                      {{food.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-12 inline">
                <div><label class="Status"> วัน/เวลา ดำเนินการ </label> </div>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="วันที่" (click)="picker.open()">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                  <input matInput [matDatepicker]="picker2" placeholder="เวลา" (click)="picker2.open()">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-12 inline">
                <div><label class="Status"> อัพโหลดไฟล์วีดีโอ <br /> (MP4,FLV) ไม่เกิน 1.5 GB </label> </div>
                <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                  <div class="fileinput-new thumbnail">
                    <img src="../../assets/img/image_placeholder.jpg" alt="...">
                  </div>
                  <div class="fileinput-preview fileinput-exists thumbnail"></div>
                  <div>
                    <span class="btn btn-rose btn-round btn-file">
                      <span class="fileinput-new">Select Vedio</span>
                      <span class="fileinput-exists">Change</span>
                      <input type="file" name="..." />
                    </span>
                    <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i>
                      Remove</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 ml-auto mr-auto">
            <button class="btn btn-success" id="save" (click)="btnsave"> บันทึก</button>
            <button class="btn btn-danger" id="cancel" (click)="btncancel"> ยกเลิก</button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <h4>ปัญหาทางเทคนิค</h4>
            </mat-expansion-panel-header>
            <div class="row row-status">
              <div class="col-md-12 inline ">
                <div><label class="Status">หัวข้อปัญหา</label></div>
                <div class="">
                  <mat-form-field>
                    <input matInput placeholder="หัวข้อปัญหา">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-12 inline ">
                <div><label class="Status">วิธีการแก้ปัญหา</label></div>
                <div class="">
                  <mat-form-field>
                    <textarea matInput placeholder="สรุปรายละเอียด"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-12 inline">
                <div><label class="Status"> หมวดหมู่ปัญหา </label> </div>
                <mat-form-field class="select-field ">
                  <mat-select placeholder="เลือกหมวดหมู่ปัญหา">
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                      {{food.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-12 inline ">
                <div><label class="Status">หมายเลขห้อง</label></div>
                <div class="">
                  <mat-form-field>
                    <input matInput placeholder="หมายเลขห้อง">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>