<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card ">
              <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">videocam</i>
                </div>
                <h4 class="card-title">บันทึกปัญหาทางเทคนิค</h4>
              </div>
              <div class="card-body ">
                  <form method="#" action="#">
                      <div class="row">
                          <label class="col-md-2 col-form-label">
                              หัวข้อปัญหา
                          </label>
                          <div class="col-md-9">
                                <mat-form-field class="example-full-width">
                                  <input matInput type="text" placeholder="หัวข้อปัญหา">
                                </mat-form-field>  
                          </div>
                      </div>
                      <div class="row">
                          <label class="col-md-2 col-form-label">
                              วิธีการแก้ไข
                          </label>
                          <div class="col-md-9">
                              <mat-form-field class="example-full-width">
                                  <textarea matInput placeholder="วิธีการแก้ไข"></textarea>
                              </mat-form-field>
                          </div>
                      </div>
                      <div class="row">
                          <label class="col-md-2 col-form-label">
                              วิธีการแก้ไข
                          </label>
                          <div class="col-md-9">
                              <mat-form-field>
                                  <mat-select placeholder="วิธีการแก้ไข" name="way">
                                    <mat-option *ngFor="let way of ways" [value]="way.value">
                                      {{ way.viewValue }}
                                    </mat-option>
                                  </mat-select>
                              </mat-form-field>
                          </div>
                      </div>
                      <div class="row">
                          <label class="col-md-2 col-form-label">
                              หมวดหมู่ปัญหา
                          </label>
                          <div class="col-md-9">
                              <mat-form-field>
                                  <mat-select placeholder="หมวดหมู่ปัญหา" name="issue">
                                    <mat-option *ngFor="let issue of issues" [value]="issue.value">
                                      {{ issue.viewValue }}
                                    </mat-option>
                                  </mat-select>
                              </mat-form-field>
                          </div>
                      </div>
                      <div class="row">
                          <label class="col-md-2 col-form-label">
                              วันที่
                          </label>
                          <div class="col-md-3 ">
                              <mat-form-field >
                                <input matInput [matDatepicker]="picker" placeholder="Choose a date" (click)="picker.open()">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                          </div>
                          <label class="col-md-2 col-form-label" >
                              เวลา
                          </label>
                          <div class="col-md-3 ">
                              <mat-form-field>
                                <input matInput [matDatepicker]="picker2" placeholder="Choose a date" (click)="picker2.open()">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2 startView="year" [startAt]="startDate"></mat-datepicker>
                              </mat-form-field>
                          </div>
                      </div>
                      <div class="row">
                          <label class="col-md-2 col-form-label">
                              หมายเลขห้อง
                          </label>
                          <div class="col-md-2">
                              <mat-form-field class="example-full-width">
                                  <input matInput type="text" placeholder="หมายเลขห้อง">
                                </mat-form-field> 
                          </div>
                      </div>
                  </form>
              </div>
              <div class="card-footer ">
                  <button mat-raised-button type="submit" class="btn btn-success">บันทึก</button>
                  <button mat-raised-button type="submit" class="btn btn-danger">ยกเลิก</button>
            </div>
            </div>
          </div>
    </div>
</div>


