.card .card-body {
    padding: 20px;
}

.row-center{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.card-function {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 230px;
    padding: 10px;
    margin-left: 50px;
    margin-bottom: 30px;
    display: -webkit-inline-box;
}

.card-function:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 4px;
    background-color: black;
    opacity: 0.4;
    margin-top: -32px;
    color: white;
    text-align: center;
}