<div class="main-content">
  <div class="container-fluid">
      <div class="col-md-12">
          <div class="card">
              <form [formGroup]="type" class="form-horizontal">
                <div class="card-header card-header-rose card-header-text">
                  <div class="card-text">
                    <h4 class="card-title">iCRM VRS</h4>
                  </div>
                </div>
                  <div class="card-body">
                    <div class="row-center">
                        <div class="card-function">
                            <a href="#">
                              <img src="./../../assets/img/bt_mms_1.jpg" style="width:100%">
                                <div class="container">
                                  <span>บันทึกข้อมูล vedio Phone / KIOSK</span>
                                </div>
                            </a>
                          </div>
                          <div class="card-function">
                              <a href="#">
                                <img src="./../../assets/img/bt_mms_2.jpg" style="width:100%">
                                  <div class="container">
                                   <span>ค้นหาข้อมูล vedio Phone / KIOSK</span>
                                  </div>
                              </a>
                            </div>
                            <div class="card-function">
                                <a href="#">
                                  <img src="./../../assets/img/bt_customer.jpg" style="width:100%">
                                    <div class="container">
                                      <span>สรุปงาน SUPERVISOR</span>
                                    </div>
                                </a>
                            </div>
                    </div>
                  </div>

              </form>
          </div>
      </div>
  </div>
</div>


