label.col-md-2.col-form-label {
    color: #333;;
}

.lg-block {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.example-radio-group {
    display: inline-flex;
    flex-direction: column;
}
  
.example-radio-button {
    margin: 5px;
}
 
.card-footer{
    justify-content: center !important;
}
  
button.btn.btn-danger.mat-raised-button {
    margin: 0px 15px;
}

.mat-raised-button.btn, .mat-raised-button.btn:not([class*=mat-elevation-z]), .btn {
    padding: 8px 15px;
    font-size: 1rem;
}

#margin-left{
    margin-left: 90px;
}

@media screen and (max-width: 770px) {
    label.col-md-2.col-form-label {
        text-align: left;
        margin-left: 12px;
    }

    #margin-left{
        margin-left: 0px;
    }
}