<div class="main-content">
  <div class="container-fluid">

<!-- ข้อมูลพื้นฐาน (TTRS) -->
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header card-header-rose card-header-icon">
          <div class="card-icon">
            <i class="material-icons">assignment_ind</i>
          </div>
          <h4 class="card-title">ข้อมูลพื้นฐาน <font color="red">(TTRS)</font></h4>
        </div>
        <div class="card-body ">
          <form method="#" action="#" >
              <div class="row">
                  <label class="col-md-2 col-form-label">
                      หมายเลขบัตรประชาชน
                  </label>
                  <div class="col-md-4">
                        <mat-form-field class="example-full-width"  for="passport">
                          <input matInput type="text" placeholder="หมายเลขบัตรประชาชน" [(ngModel)]="passport" name="passport">
                        </mat-form-field>  
                  </div>
                    <div class="col-md-4" id="margin-left">
                      <mat-checkbox class="example-margin" (click)="changValue(true)" >ผู้ป่วย</mat-checkbox>
                    </div>
                    <div *ngIf="isValid">
                      {{passport}}
                    </div>
              </div>
              <div class="row">
                  <label class="col-md-2 col-form-label">
                      หมายเลขบัตรประชาชนผู้ป่วย
                  </label>
                  <div class="col-md-4">
                      <mat-form-field class="example-full-width" >
                          <input matInput type="text" placeholder="หมายเลขบัตรประชาชนผู้ป่วย" value="{{passport}}">
                      </mat-form-field>
                  </div>
                  <label class="col-md-2 col-form-label">
                      หมายเลขโทรศัพท์ติดต่อกลับ
                  </label>
                  <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                            <input matInput type="text" placeholder="หมายเลขโทรศัพท์ติดต่อกลับ">
                        </mat-form-field>
                  </div>
              </div>
              
              <div class="row">
                  <label class="col-md-2 col-form-label">
                      เวลาเริ่มต้นการสนทนา
                  </label>
                  <div class="col-md-3 mr-auto">
                      <mat-form-field >
                        <input matInput [matDatepicker]="picker" placeholder="Choose a date" (click)="picker.open()">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                  </div>
                  <label class="col-md-2 col-form-label" >
                      เวลาสิ้นสุดการสนทนา
                  </label>
                  <div class="col-md-3 mr-auto">
                      <mat-form-field>
                        <input matInput [matDatepicker]="picker2" placeholder="Choose a date" (click)="picker2.open()">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2 startView="year" [startAt]="startDate"></mat-datepicker>
                      </mat-form-field>
                  </div>
              </div>
          </form>
        </div>
      </div>
    </div> 
    <!-- จบข้อมูลพื้นฐาน (TTRS) -->

    <!-- จังหวัดการแพทย์ฉุกเฉิน -->
    <div class="col-md-12">
        <div class="card ">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">person_add</i>
            </div>
            <h4 class="card-title">จังหวัดการแพทย์ฉุกเฉิน</h4>
          </div>
          <div class="card-body ">
              <div class="lg-block">
                  <mat-form-field>
                      <mat-select placeholder="ระบุจังหวัด" name="city">
                        <mat-option *ngFor="let city of cities" [value]="city.value">
                          {{ city.viewValue }}
                        </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
          </div>
        </div>
      </div>
    <!-- จบจังหวัดการแพทย์ฉุกเฉิน -->

    <!-- ----start---- -->
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header card-header-rose card-header-icon">
        </div>
        <div class="card-body ">
          <form class="example-form" method="#" action="#">
              <div class="row">
                  <label class="col-md-2 col-form-label">
                      ข้อความสื่อสาร <font color="red">(TTRS)</font> 
                  </label>
                  <div class="col-md-3">
                      <mat-form-field class="example-full-width">
                          <textarea matInput placeholder="ข้อความสื่อสาร (TTRS)"></textarea>
                        </mat-form-field>
                  </div>
                  <label class="col-md-2 col-form-label">
                      คำถามที่หนึ่ง (คุณเป็นใคร) <font color="red">(TTRS)</font>
                  </label>
                  <div class="col-md-3">
                      <mat-form-field class="example-full-width">
                          <textarea matInput placeholder="คำถามที่หนึ่ง (คุณเป็นใคร) (TTRS)"></textarea>
                        </mat-form-field>
                  </div>
              </div>
              <div class="row">
                  <label class="col-md-2 col-form-label">
                      คำถามที่สอง (อยู่ที่ไหน) <font color="red">(TTRS)</font>
                  </label>
                  <div class="col-md-3">
                      <mat-form-field class="example-full-width">
                          <textarea matInput placeholder="คำถามที่สอง (อยู่ที่ไหน) (TTRS)"></textarea>
                        </mat-form-field>
                  </div>
                  <label class="col-md-2 col-form-label">
                      พิกัด <font color="red">(TTRS)</font>
                  </label>
                  <div class="col-md-3" style="display: -webkit-box;">
                      <mat-form-field class="example-full-width">
                          <input matInput type="text">
                      </mat-form-field>
                      <button mat-raised-button 
                              class="btn btn-success" 
                              style="margin-left: 15px;">
                              View Map
                      </button>
                  </div>
              </div>
          </form>
        </div>
      </div>
    </div>
    <!-- ----end---- -->

    <!-- ประเภทปัญหา -->
    <div class="col-md-12">
        <div class="card ">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">ประเภทปัญหา <font color="red">(TTRS)</font></h4>
          </div>
          <div class="card-body ">
              <div class="lg-block">
                  <mat-form-field>
                      <mat-select placeholder="ประเภทข้อความ" name="data">
                        <mat-option *ngFor="let data of datas" [value]="data.value">
                          {{ data.viewValue }}
                        </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
          </div>
        </div>
      </div>
    <!-- จบประเภทปัญหา -->

    <!-- อาการป่วยหลัก (TTRS / การแพทย์ฉุกเฉิน) -->
    <div class="col-md-12">
        <div class="card ">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">ประเภทปัญหา <font color="red">(TTRS)</font></h4>
          </div>
          <div class="card-body ">
              <div class="row">
                <div class="col-xl-4">
                  <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason">
                    <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                      {{season}}
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
                <div class="col-xl-4">
                  <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason">
                    <mat-radio-button class="example-radio-button" *ngFor="let season of seasons2" [value]="season">
                      {{season}}
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
                <div class="col-xl-4">
                  <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason">
                    <mat-radio-button class="example-radio-button" *ngFor="let season of seasons3" [value]="season">
                      {{season}}
                     </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
          </div>
        </div>
      </div>
    <!-- จบอาการป่วยหลัก (TTRS / การแพทย์ฉุกเฉิน) -->

    <!-- อาการป่วยย่อย (TTRS / การแพทย์ฉุกเฉิน) -->
    <div class="col-md-12">
        <div class="card ">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">อาการป่วยย่อย <font color="red">(TTRS / การแพทย์ฉุกเฉิน)</font></h4>
          </div>
          <div class="card-body ">
              <div class="row">
                  <div class="col-xl-4">  
                    <section class="example-section" [(ngModel)]="sick">
                     <mat-checkbox class="example-margin" [(ngModel)]="one"> รู้สึกตัวใช่ไหม (ถ้าไม่รู้สึกตัวตอบไม่ใช่)</mat-checkbox>
                    </section>
                  </div>
                  <div class="col-xl-4">
                    <section class="example-section" [(ngModel)]="sick">
                     <mat-checkbox class="example-margin" [(ngModel)]="two">หายใจเหนื่อยใช่ไหม (ถ้าหายใจเหนื่อยตอบใช่)</mat-checkbox>
                    </section> 
                  </div>
                  <div class="col-xl-4">
                    <section class="example-section" [(ngModel)]="sick">
                     <mat-checkbox class="example-margin" [(ngModel)]="tree">ลุกแล้วยืนเวียนหัวใช่ไหม (ถ้าลุกแล้วยืนเวียนหัวตอบใช่)</mat-checkbox>
                    </section>
                  </div>
              </div>
          </div>
        </div>
      </div>
    <!-- จบอาการป่วยย่อย (TTRS / การแพทย์ฉุกเฉิน) -->

    <!-- สถานะการดำเนินการ -->
    <div class="col-md-12">
        <div class="card ">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">อาการป่วยย่อย <font color="red">(TTRS / การแพทย์ฉุกเฉิน)</font></h4>
          </div>
          <div class="card-body ">
              <div class="row">
                <div class="col-xl-4">
                    <mat-radio-button class="example-radio-button" >
                       เรื่องเข้าสู่ระบบแล้ว
                    </mat-radio-button>
                </div>
                <div class="col-xl-4">
                    <mat-radio-button class="example-radio-button" >
                        การแพทย์ฉุกเฉินกำลังดำเนินการ
                    </mat-radio-button>
                </div>
                <div class="col-xl-4">
                    <mat-radio-button class="example-radio-button" >
                        การแพทย์ฉุกเฉินดำเนินการเรียบร้อย
                    </mat-radio-button>
                </div>
              </div>
          </div>
          <div class="card-footer ">
              <button mat-raised-button type="submit" class="btn btn-success">บันทึก</button>
              <button mat-raised-button type="submit" class="btn btn-danger">ยกเลิก</button>
            </div>
        </div>
      </div>
    <!-- จบสถานะการดำเนินการ -->

  </div>
</div>